*, 
*::before, 
*::after {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;;
    max-width: 100%;
    flex-direction: column;
    
}
div {
    display: flex;
}
h1 {
    font-size: 80px;
    color: purple;
}
.scoreboard {
    flex-direction: column;
    background-color: gray;
}
.roundContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.scoreContainer {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}
.score {
    margin: 20 10;
}
.button {
    width: 20vw;
    height: 10vh;
}
.buttonContainer {
    flex-direction: column;
}
.gameContainer {
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}